.print-page {  
    display: flex;  
}  

.upload-section {  
    flex: 1;  
    padding: 20px;  
    max-width: 600px; /* Adjust as needed */  
    margin: 0 auto;  
}  

.upload-header {  
    text-align: center; /* Center align the header content */  
    margin-bottom: 20px;  
}  

.upload-icon {  
    font-size: 30px;  
    margin-bottom: 10px;  
}  

.upload-area {  
    border: 2px dashed #ccc;  
    border-radius: 10px;  
    padding: 40px;  
    text-align: center;  
    margin-bottom: 20px;  
}  

.browse-button {  
    padding: 10px 20px;  
    border-radius: 5px;  
    border: 1px solid #007BFF;  
    background-color: white;  
    color: #007BFF;  
    cursor: pointer;  
    transition: background-color 0.3s, color 0.3s;  
}  

.browse-button:hover {  
    background-color: #007BFF;  
    color: white;  
}  

.file-format {  
    color: #777; /* Gray color for formats */  
    text-align: center;   
    font-size: 14px;  
}